*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#f8f8fc;
}
/*Navigation Bar*/

.navbar{

    width:90%;
    margin:auto;
    padding:25px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo h2{
    color:#ff6b3d;
}
.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
}

.nav-buttons{
    display:flex;
    align-items:center;
    gap:20px;
}
.login{
    text-decoration:none;
    color:#333;
}

/* Sign Up Button */

.signup{

    text-decoration:none;
    background:#ff6b3d;
    color:white;
    padding:12px 25px;
    border-radius:30px;
}
/* Hero Section*/

.hero{
    width:90%;
    margin:auto;
    min-height:80vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.hero-text{
    width:48%;
}
.hero-text h1{
    font-size:65px;
    color:#1b1b4b;
    margin-bottom:20px;
}


.hero-text p{
    color:#555;
    line-height:1.6;
    margin-bottom:35px;
}

.start-btn{

    display:inline-block;
    text-decoration:none;
    background:#ff6b3d;
    color:white;
    padding:15px 35px;
    border-radius:30px;
    margin-bottom:40px;
}
.search-box{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-radius:40px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.search-item h4{
    color:#666;

    margin-bottom:5px;
}

.search-item p{
    color:#1b1b4b;
    font-weight:bold;
}
/* Search Button */

.search-box button{
    border:none;
    background:#4254ff;
    color:white;
    padding:15px 28px;
    border-radius:30px;
    cursor:pointer;
}
/*Right Side*/
.hero-image{
    width:45%;
    position:relative;
    text-align:center;
}
.hero-image img{
    width:100%;
}


/*Package Card*/

.package-card{
    position:absolute;
    bottom:20px;
    right:-20px;

    width:240px;
    background:white;
    padding:15px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}
.package-card img{
    width:100%;
    border-radius:10px;
    margin-bottom:10px;
}
.package-card h3{
    color:#1b1b4b;
    margin-bottom:10px;
}

.package-card p{

   color:#666;

    margin-bottom:15px;
}

.package-card a{

    display:inline-block;
    text-decoration:none;

    background:#ff6b3d;
    color:white;

    padding:10px 20px;
    border-radius:20px;
}

.footer{
    margin-top:80px;
    background:#1b1b4b;
    color:white;
    text-align:center;
    padding:20px;
}
/* Responsiveness Design*/

@media(max-width:900px){
    .navbar{
        flex-direction:column;
        gap:20px;
    }
    .hero{
        flex-direction:column;
        text-align:center;
    }
    .hero-text,
    .hero-image{
        width:100%;
    }
    .hero-text h1{
        font-size:45px;
    }
    .search-box{
        flex-direction:column;
        gap:20px;
        border-radius:20px;
    }
    .package-card{
        position:static;
        margin:20px auto;
    }
}